# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambiente Virtual
.venv/
venv/
ENV/
env/

# PyInstaller
build/
dist/

# Arquivos temporários
bot_buy
*.log
*.tmp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Backup
*.bak
*.backup
